body {
  margin:0px;
  background-color:rgba(236, 236, 236, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:321px;
  width:300px;
  height:170px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:226px;
  width:170px;
  height:170px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:70px;
  padding:2px 2px 2px 2px;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u80_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:70px;
  padding:2px 2px 2px 2px;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:70px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:438px;
  width:269px;
  height:70px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_img.disabled {
}
#u80.disabled {
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u81_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:516px;
  width:300px;
  height:34px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_img.disabled {
}
#u81.disabled {
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
  padding:2px 2px 10px 15px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u82_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
  padding:2px 2px 10px 15px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:577px;
  width:225px;
  height:38px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u82_img.disabled {
}
#u82.disabled {
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:251px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:647px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_img.focused {
}
#u84.focused {
  opacity:0.7;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:555px;
  width:75px;
  height:75px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:570px;
  width:45px;
  height:45px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:11px;
  width:25px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:10px;
  width:18px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:right;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
