body {
  margin:0px;
  background-color:rgba(236, 236, 236, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:67px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:562px;
  width:300px;
  height:67px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:131px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:362px;
  width:300px;
  height:131px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  padding:10px 10px 10px 10px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  padding:10px 10px 10px 10px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  padding:10px 10px 10px 10px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:420px;
  width:270px;
  height:40px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u13.focused {
}
#u13_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u13.disabled {
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:491px;
  width:300px;
  height:54px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:51px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:471px;
  width:270px;
  height:51px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_img.focused {
}
#u15.focused {
  opacity:0.7;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16 label {
  left:0px;
  width:100%;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:15px;
  height:15px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:585px;
  width:161px;
  height:18px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 10px;
  box-sizing:border-box;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.disabled {
}
#u16.disabled {
}
#u16_img.selectedDisabled {
}
#u16.selectedDisabled {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:0px;
  width:134px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:584px;
  width:130px;
  height:22px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:362px;
  width:300px;
  height:42px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:11px;
  width:25px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:10px;
  width:18px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:right;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
