body {
  margin:0px;
  background-color:rgba(236, 236, 236, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:321px;
  width:300px;
  height:170px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:226px;
  width:170px;
  height:170px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:70px;
  padding:2px 2px 2px 2px;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u147_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:70px;
  padding:2px 2px 2px 2px;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:70px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:438px;
  width:269px;
  height:70px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u147_img.disabled {
}
#u147.disabled {
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u148_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:516px;
  width:300px;
  height:34px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_img.disabled {
}
#u148.disabled {
}
#u149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
  padding:2px 2px 10px 15px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u149_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
  padding:2px 2px 10px 15px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:577px;
  width:225px;
  height:38px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u149_img.disabled {
}
#u149.disabled {
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:251px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:555px;
  width:75px;
  height:75px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:570px;
  width:45px;
  height:45px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:647px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u153_img.focused {
}
#u153.focused {
  opacity:0.7;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:11px;
  width:25px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:10px;
  width:18px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:right;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:706px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma Regular', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u160_img.focused {
}
#u160.focused {
  opacity:0.7;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
