body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:80px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:170px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:726px;
  width:414px;
  height:170px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:35px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:40px;
  width:18px;
  height:35px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_img.selected {
}
#u59.selected {
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:751px;
  width:120px;
  height:120px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:766px;
  width:90px;
  height:90px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_img.focused {
}
#u61.focused {
  opacity:0.7;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:786px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_img.focused {
}
#u62.focused {
  opacity:0.7;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:786px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u63.focused {
  opacity:0.7;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:10px;
  width:25px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:10px;
  width:18px;
  height:14px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:10px;
  width:60px;
  height:17px;
  display:flex;
  font-family:'Tahoma Bold', 'Tahoma', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:right;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
